
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


.btn {
        padding: 18px 56px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
       
}
.btn-primary {
    color: #fff;
    background-color: #25E6C8;
    border-color: #25E6C8;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #28AAEC;
    border-color: #28AAEC;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #28AAEC;
    border-color: #28AAEC;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #28AAEC;
    border-color: #2797d3;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #25E6C8;
    border-color: #25E6C8;
  }

html, body {
    color: #626262
}


#navbar-top i {
    color:#28AAEC;
    font-size: 1.2rem;
}
a {
    color: #28AAEC
}
a:hover {
    color: #25E6C8
}
    #navbar-top {
        border-bottom: 1px solid #c5c5c5;
        height: 60px;
    }

#navbar-top .working-hours i {
    color: #2BAAEC;
font-size: 1.2rem;
margin-right: 0.8rem
}
    
#navbar-top .sociala-medier i {
    font-size: 1rem;
    margin-left: 1.7rem;

}
#navbarNav {
    text-align: center;
 
}
.navbar-nav {
    font-family: 'Roboto Slab', serif;
    

}
.navbar-nav .nav-item {
   margin-left: 1.35rem;
   font-size: 1.125rem;
   color: #363636;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #25E6C8 !important;
}
.navbar-nav .nav-item .active {
    color: #25E6C8 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #363636;
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #25E6C8 
}
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: #25E6C8 
  }
.border-dark {
    border: 1px solid black
}
#showcase {
    background-color: #dedede;
   max-height: 700px;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
#showcase img {
   margin-left: -4rem;

}
.f-1 {
    flex: 1;
    text-align: center;
}
#showcase h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.75rem;
    color: #363636;
}
#showcase p {
    color: #363636;
    font-size: 18px;
    margin: 45px 0px;
}
#showcase2 {
    display: flex;
    max-height: 814px;
    align-items: center;
    
}
#showcase2 .f1 {
    flex: 1;
    text-align: start;

}
    

#showcase2 h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    margin-right: 210px;
   border-bottom: 5px solid #25E6C8;
   
   
  
}
#showcase2 p {
    font-family: 'Roboto', sans-serif;
   font-size: 18px;
   margin:45px 0px;

}

#showcase2 img {
    padding-top: 90px;
}

#tooth-buttons {
  
   display: grid;
   grid-template-columns: repeat(3,450px);
   grid-template-rows: repeat(2, 436px);
   gap: 30px;
  
}

.border {
    color: #707070;
}
.box1 {
    text-align: center;
    padding-top: 127px;
    padding-bottom: 248px;
}

.rubrik {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    color: #363636;
    margin-top: 45px;
    margin-bottom: 30px;
}
.under-rubrik {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #626262;
    


}
@media (min-width: 768px) {
#showcase h1 {
    font-size: 3.75rem;
}
}
@media (min-width: 992px) {
    #showcase h1 {
        font-size: 4.75rem;
    }
}

@media (min-width: 1200px) {
    .navbar {
        height: 180px
    }
    #navbarNav {
        display: flex;
        justify-content: end;
    }
    #showcase {
        align-items: end;
        padding: 0;
        padding-top: 3rem;
    }
        .f-1 {
            flex: 1;
            text-align: left;
        }
        #showcase h1 {
            font-size: 3.75rem;
        }
        
}
