@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container {
    width: 1900px;
}
.navbar {
    height: 170px;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: white;
    
    
}
.nav-link a {
    color: white;
}
#home {
    color: #FFBB00;
}

.button {
    margin-left: 55px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFBB00;
    border-style: none;
    color: white;
}

.showcase .h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 57px;
    margin-right: 70px;
    font-weight: bold;
}
.showcase .p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.f-1 {
    margin-top: 230px ;
    margin-right: 60px;

}
.play {
    margin-left: 20px ;
    margin-right: 20px;
}
.download {
    padding-top: 20PX;
    padding-bottom: 20PX;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    font-size: 16px;
    border-style: none;
    

}
.play-text {
    /* margin-left: 320px; */
}
.mobil-1 {
    position: relative;
    top: 100px;
    left: 100px;

    z-index: 1
}

.ec-utbildning {
    display: flex;
    justify-content:space-evenly;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 130px;
    
}
.border {
    padding-top: 25px;
    padding-bottom: 240px;
}

.mobil-bakgrund{
    position: relative;
    top: -230px;
}
.mobil-3 {
    position: relative;
    left: -430px;
    top: -220px;
}

.about-us {
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border-style: none;
    background-color: #f7e4ba7c;
    color: #FFBB00;
    font-size: 14px;
}

.rubrik {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.under-rubrik {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

