@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bakgrund {
    position: absolute;
    top: -800px;
    left: -200px;
    z-index: -1;
}
.container {
    position: relative;
}

.container {
    width: 1900px;
}
.navbar {
    height: 170px;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: white;
    
    
}
.nav-link a {
    color: white;
}
#home {
    color: #FFBB00;
}

.button {
    margin-left: 55px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFBB00;
    border-style: none;
    color: white;
}

.showcase .h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 57px;
    margin-right: 70px;
    font-weight: bold;
}
.showcase .p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.f-1 {
    margin-top: 230px ;
    margin-right: 60px;

}
.play {
    margin-left: 20px ;
    margin-right: 20px;
}
.download {
    padding-top: 20PX;
    padding-bottom: 20PX;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    font-size: 16px;
    border-style: none;
    

}
.play-text {
    /* margin-left: 320px; */
}
.mobil-1 {
    position: relative;
    top: 100px;
    left: 100px;

    z-index: 1
}

.ec-utbildning {
    display: flex;
    justify-content:space-evenly;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 130px;
    
}
.border {
    padding-top: 25px;
    padding-bottom: 240px;
}

.mobil-bakgrund{
    position: relative;
    top: -230px;
}
.mobil-3 {
    position: relative;
    left: -430px;
    top: -220px;
}

.a2 {
    margin-left: -200px;
    margin-top: -150px;
}
.about-us {
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border-style: none;
    background-color: #f7e4ba7c;
    color: #FFBB00;
    font-size: 14px;
}

.rubrik {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.under-rubrik {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.google-play {
    padding-left: 75px;
    padding-right: 35px;
}
.fa-google-play {
 
    font-size: 30px;

}

.first {
    font-family: 'Roboto', sans-serif;
 
    font-size: 12px;
    color: #6B6B6B;
}
.second {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
 
}

.apple {
    padding-left: 75px;
    padding-right: 35px;
    margin-left: 20px;
}
.fa-apple {
       
        font-size: 40px;
    
    }
.firsta {
        font-family: 'Roboto', sans-serif;
       
        font-size: 12px;
        color: #6B6B6B;
        
}
.seconda {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
  
}

/* SHOWCASE 3 */

.features {

    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border-style: none;
    background-color: #f7e4ba7c;
    color: #FFBB00;
    font-size: 14px;

}
.rubrik2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 45px;
}
.underrubrik2 {
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8A8A8A;
    margin-right: 200px;
}
.boxar {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 90px 90px;
    gap: 50px;
}

.phone-background {
    position: relative;
    top: 650px;
    left: 100px;
}

.iphone-1 {
    position: relative;
    left: -10px;
    top: 140px;
    transform: rotate(-deg);

}

.iphone-2 {
position: relative;
top: -480px;
left: 240px;
}

.showcase-3 {
    margin-top: -550px;
}

/* SHOWCASE 4 */
.huvud {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;

}

.nacke {
    font-family: 'Roboto', sans-serif;
    color:#8A8A8A;
    margin-top: 30px;
    margin-bottom: 50px;

}

.sektion-1 {
    text-align: center;
    margin-top: -200px;
}
.sektion-2 {
  margin-bottom: 300px;
}

.sektion2 {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 0px;
    gap: 140px;
    text-align: end;
    margin-right: -50px;
}

.siffror1 {
font-family: 'Roboto', sans-serif;
font-size: 40px;
font-weight: bold;
color: #3096FE;
}

.texten1 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}