@import "standard.css";

.navbar-top {
    padding: 0.6rem 0;
    background-color: palevioletred;

    .working-hour  {
        font-size: 1em;
        display: flex;
        align-items: center;

    }

} .navbar-top .fa-clock {
    font-size: 1.2em;
    margin-right: 0.3rem;

}
.working-hour i  {
    font-size: 0.8em

}